@import "../../css/mixins";

.add-payout {
  @include modal();
  width: 40vmax;
  min-width: 400px;
  max-width: 550px;
  min-height: 300px;
  display: flex;
  padding: 20px;

  & h4 {
    margin-bottom: 30px;
  }

  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  &__input {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-bottom: 11px;

    & label {
      flex: 2;
    }

    & textarea {
      flex: 3;
      margin-left: 10px;
    }

    & input {
      flex: 3;
      margin-left: 10px;
    }
  }
}