@import "../../css/mixins";

.add-payout {
  @include modal();
  width: 40vmax;
  min-width: 400px;
  max-width: 550px;
  min-height: 300px;
  display: flex;
  padding: 20px;

  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  & .input-section {
    margin: auto;
  }

  & button {
    white-space: nowrap;
  }

  & select {
    padding: 5px;
    border: 1px solid lightgray !important;
    border-radius: 5px;
  }
}