@import "../../css/mixins";

.loans-list {

  &__list {

  }

  &__menu {
    display: flex;

    &-item {
      cursor: pointer;
      margin-right: 15px;
      @include animate();

      &:hover {
        @include animate-hover(1.07);
      }

      &_active {
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }
  }
}