@import "css/normalize.css";
@import "css/mixins";

.app {
  height: 100vh;
  background-color: #ededed ;
  overflow-y: scroll;
  display: flex;

  input {
    height: 23px !important;
  }

  a {
    text-decoration: none !important;
  }

  &__menu {
    flex: 1;
    background-color: white;
    margin: 20px;
  }

  &__container {
    flex: 5;
    background-color: white;
    margin: 20px;
  }

  & .dagger {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    @include animate();

    &:hover {
      @include animate-hover(1.13);
      opacity: 0.6;
    }

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }

    &_add {
      &:before {
        transform: rotate(90deg);
      }
    }

    &_delete {
      float: right;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  & .fa-animate {
    cursor: pointer;
    font-size: 25px;
    margin-left: auto;
    color: gray !important;
    @include animate();

    &:hover {
      @include animate-hover(1.15);
      color: #555555 !important;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: #999;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #ededed;
  }

  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-corner {
    background-color: #999;
  }

  ::-webkit-resizer {
    background-color: #666;
  }
}