@import "../../css/mixins";

.create-loan {
  @include modal();
  min-width: 500px;
  max-width: 600px;
  padding: 20px;
  display: flex;

  &__select {
    min-width: 350px;
  }

  & .input-section {
    margin: auto;
  }
}
.select__panel {
  height: 300px;
  background-color: white;
  @include border();

  & .loans-list {
    height: 295px !important;

    &__item {
      margin: 10px 0 10px 10px;
      @include animate();
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        @include animate-hover(1.03);
      }
    }
  }
}